div( class = "modal", id = "user-modal" )
  div( *ngIf = "user", class = "modal-dialog" )
    div( class = "modal-content" )
      div( class = "modal-header" )
        h2( class = "modal-title" ) Utilisateur n°{{ user.id }}
        button( type = "button", class = "close", data-dismiss = "modal", (click) = "closeModal()" ) &times;
      div( class = "modal-body" )
        p
          i.ui-icon( class = "fa fa-user-circle-o" )
          span {{ user.name }}
        p
          i.ui-icon( class = "fa fa-envelope" )
          span {{ user.email }}
        p
          i.ui-icon( class = "fa fa-map-marker" )
          span {{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}, {{ user.address.zipcode }}
        p
          i.ui-icon( class = "fa fa-phone" )
          span {{ user.phone }}
        p
          i.ui-icon( class = "fa fa-home" )
          span {{ user.website }}
      div( class = "modal-footer" )
        button( type = "button", class = "btn btn-primary", data-dismiss = "modal", (click) = "closeModal()" ) Fermer
